body nav{
    background-color: rgb(247, 247, 248);
}
body nav ul{
    list-style-type:none;
}
nav ul li{
    display: inline;
    margin-right: 10px;
    margin:10;
}
nav ul li a{
    color:rgb(7, 0, 1);
}
header{
    background-color: rgb(238, 232, 236);
}
section{
    background-color: bisque;
}
h1{
    text-align: center;
    background-color: rgb(190, 108, 231);
    color: rgb(12, 12, 12);
    background-size: 200px;
}
nav ul li{
    text-align: right;
}
footer{
    background-color: rgb(213, 57, 96);
}
.forgotpass:link{
    color: rgb(6, 6, 6);
}
.forgotpass:visited{
    color:blue
}
.forgotpass:hover{
    color:rgb(6, 107, 190)
}